// Colors

$off-black: #20222b;
$off-white: #a5afd7;
$dark-blue: #333745;
$blue: #3c4251;
$light-blue: #464b5e;
$purple: #8357c5;

// Spacing
$s-size: 1.5rem;
$m-size: 2.0rem;
$l-size: 3.6rem;
$xl-size: 5.5rem;
